// HMTL
/*

<a href="#" id="backToTop">^</a>

*/

#backToTop {
    // background: url('backToTop.svg') no-repeat;
    // background: #eee;
    bottom: 0;
    color: $cText;
    display: none;
    font-size: 50px;
    line-height: 60px; //make it match footer height
    margin: 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
}
