// HTML
/*
<div id="social" class="bgDark clearfix">
    <a href="#" target="_blank" alt="Twitter">
        <div class="socialIcon twitter"></div>
    </a>
    <a href="#" target="_blank" alt="Facebook">
        <div class="socialIcon facebook"></div>
    </a>
    <a href="#" target="_blank" alt="Google+">
        <div class="socialIcon gplus"></div>
    </a>
    <a href="#" alt="webLog">
        <div class="socialIcon rss"></div>
    </a>
</div>*/

#social {
    margin:0 auto;
    width: 200px;
}

.socialIcon {
    background:url('/img/icSocial.png');
    float:right;
    height:30px;
    margin:10px;
    opacity:0.2;
    width:30px;
}
.rss {
    &:hover {
        background-position:30px 0px;
        opacity:0.5;    
    }
}
.gplus {
    background-position:0px -30px;
    &:hover {
        background-position:30px -30px;
        opacity:0.5;    
    }
}
.facebook {
    background-position:0px -60px;
    &:hover {
        background-position:30px -60px;
        opacity:0.5;    
    }
}
.twitter {
    background-position:0px -90px;
    &:hover {
        background-position:30px -90px;
        opacity:0.5;    
    }
}

// TEMPORARY
#social {
    width: 50px;
}

//========================================================================== States
